.registration-container, .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('') no-repeat center center fixed;
    background-size: cover;
}

.registration-box, .login-box {
    background: rgb(195, 188, 188);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.registration-header, .login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.register-form .ant-input, .login-form .ant-input {
    border-radius: 5px;
}

.register-form .ant-btn-primary, .login-form .ant-btn-primary {
    width: 100%;
    background: #1890ff;
    border: none;
    border-radius: 5px;
}

.register-form-button, .login-form-button {
    width: 100%;
    background: #1890ff;
    border: none;
    border-radius: 5px;
}

.register-form-button:hover, .login-form-button:hover {
    background: #40a9ff;
}

.site-form-item-icon {
    color: rgba(255, 255, 255, 0.8);
}
